{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main class="contact-us">
      <div class="banner">
        <img
          src="{% static './assets/images/bg-banner.png' %}"
          alt=""
          class="img-fluid w-100"
        />
        <h1 class="text-center">Dashboard</h1>
      </div>

      <section class="container mt-5">
        <h2 class="text-center">Welcome to Dashboard</h2>
        <h4 class="text-center text-white-50">
          hi, {{ user.get_username }}. Hope you are having a good day
        </h4>

        <div class="table-responsive- mt-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">userid</th>
                <th scope="col">YTubers_name</th>
                <th scope="col">City</th>

              </tr>
            </thead>
            <tbody>
              {% for hy in hiretuber %}
                <tr>
                <th scope="row">{{ hy.id }}</th>
                <td>{{ hy.first_name }}</td>
                <td>{{ hy.city }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </main>

{% endblock %}
